
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  background-color: #DBAFA0; 
}


.board {
  display: grid;
  grid-template-columns: repeat(3, 85px);
  grid-template-rows: repeat(3,85px);
  border: 1px solid #e3d5ca;
  justify-items: center;
  background-color: #e3d5ca;
}


.square {
  width: 80px;
  height: 80px;
  background-color: #e3d5ca;
  border: 3px solid #ffe5ec;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
